
.main{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.center{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0D1116;
}

.canvas{
    width: 627px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo{
        width: 105px;
        height: 105px;
        margin-top: 25%;
        margin-bottom: 5%;
    }

    h1{
        color: #fff;
        font-size: 45px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 20%;
        font-family: Arial, sans-serif;
    }

    .input{
        width: 100%;
        height: 60px;
        background-color: #202532;
        border-radius: 1000px;
        overflow: hidden;
        position: relative;


        input{
            width: 75%;
            height: 100%;
            border: none;
            background-color: transparent;
            padding: 0 30px;
            outline: none;
            color: #fff;
            font-size: 1em;

            &::placeholder{
                color: #8D949D;
            }
        }

        button{
            position: absolute;
            padding: 0 30px;
            height: 40px;
            top: 10px;
            right: 10px;
            border-radius: 1000px;
            background-color: #3fc866;
            border: none;
            outline: none;
            color: #FFF;
            transition: .5s;

            &:hover{
                background-color: rgb(64, 199, 102, .5);
            }
        }
    }
}