body {
  margin: 0;
}


.page-container {
  padding: 0 24px 0;
}

.text-line-1-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-line-2-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}


.flex-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-ceneter-y {
  display: flex;
  align-items: center;
}