#container { border: 1px solid black; margin: 0px auto 0px auto; position: relative; text-align: center; width: 40em;}
#logout { margin: 10px 10px; position:absolute; right: 0px; top: 0px; }
#footer { margin: 0px auto 0px auto; text-align: center; width: 40em;}
#file { border: 1px solid #bbb; padding: 5px; margin-bottom: 10px;}
#retention { margin-bottom: 10px; }
#upload { margin-bottom: 20px; }
#response { margin-bottom: 20px; visibility: hidden; }
#files { border-collapse: collapse; width: 100%; }
#files td, #files th { border: 1px solid; }
