[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "nnodely"
description = "Model-structured neural network framework for the modeling and control of physical systems"
readme = "README.md"
requires-python = ">=3.10"
license = {file = "LICENSE"}
authors = [
    {name = "Gastone Pietro Rosati Papini", email = "tonegas@gmail.com"}
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]
dependencies = [
    "numpy == 2.0.0",
    "onnx == 1.16.2",
    "pandas == 2.2.2",
    "torch == 2.3.1",
    "reportlab == 4.2.5",
    "matplotlib == 3.9.0"
]
dynamic = ["version"]

[project.urls]
"Homepage" = "https://github.com/tonegas/nnodely"

[tool.setuptools]
packages = ["nnodely",
            "nnodely.visualizer",
            "nnodely.visualizer.dynamicmpl",
            "nnodely.exporter",
            "mplplots"]

#[tool.setuptools.data-files]
#"imgs" = ["imgs/*"]
#"data" = ["tests/data/*","tests/test_data/*","tests/val_data/*","tests/vector_data/*"]