/* Center questions on pages */
.sd-row {
    justify-content: center;
}

/* Center rating items */
.sd-scrollable-container:not(.sd-scrollable-container--compact) {
    width: max-content;
    overflow: visible;
    max-width: 100%;
    margin: 0 auto;
}